body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    
}

/* HEADER */
header {
    height: 150px;
    max-width: 1200px;
    margin: auto;
    /* position: fixed; */
}

header .logo {
    float: left;
    margin-top: 10px;
    /* margin-left: 100px; */
}

header .logo img {
    height: 120px;
    width: fit-content;
    
}

header .titulo {
    float: left;
    margin-left: 317px;
    margin-top: 15px;   
}

header .titulo a img {
    height: 120px;
}

header .titulo a img:hover {
    height: 130px;
}

.media {
    float: right;
    /* margin-right: 200px; */
}

.media div {
    display: inline-block;
    margin: 40px 40px 0px 0;
}

/* SECTION */

section {
    height: calc(100vh - 150px);
}

.collage {
    background: url('img/659390.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 150px);
    display: flex;
    position:absolute;
    width: 100%;
}

.collage iframe {
    display: block;
    min-width: 344px;
    max-width: 600px;
    margin: auto;
}

.ir-letra {
    position: absolute;
    display: flex;
    bottom:0;
    right: 0;
    padding: 10px;
    margin: 0 20px 20px 0 ;
    background-color: rgba(0,0,0,.4);
    border-radius: 25px;
    cursor: pointer;
}

.ir-letra p {
    margin: 0;
    display: flex;
    align-items: center;
}

.ir-letra p a{
    color: #fff;
    text-decoration: none;
}

.ir-letra img {
    width: 25px;
    height: 25px;
    padding: 5px;
}


/* CONTENEDOR CAPITULOS */

.cont-capitulos {
    min-height: calc(100vh - 76px);
    width: 70vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin:auto;
    background-color: rgba(0,0,0,.1);
}

.cont-capitulos h2{
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin: 20px auto 50px auto;
}

.capitulos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.cap-card {
    box-sizing: border-box;
    padding: 10px;
}

.mas-capitulos {
    box-sizing: border-box;
    display: block;
    margin: 40px auto 40px auto;
}

.mas-capitulos a {
    text-decoration: none;
}

/* FOOTER */

footer {
    background-color: lightgrey;
    position: absolute;
    width: 100%;
}

#footer {
    width: fit-content;
    margin: auto
}

#footer a img {
    padding-top: 20px;
    padding-bottom: 20px;
}


@media only screen and (max-width: 391px) {
    
    header {
        height: 75px;
    }

    header .logo {
        margin: 3px 0 0 0;
    }   

    header .logo img {
        height: 60px;
        width: fit-content;
        margin-left: 10px;
        
    }

    .media div {
        margin: 10px 10px;
    }

    .media div a img {
        height: 50px;
    }

    section {
        height: calc(100vh - 75px);
    }

    .collage {
        height: calc(100vh - 75px);
    }

    .collage iframe {
        box-sizing: border-box;
        padding: 0 10px;
        display: block;
        min-width: 344px;
        max-width: 600px;
        margin: auto;
    }

    .cont-capitulos {
        width: 100vw;
    }

    .ir-letra {
    position: absolute;
    display: flex;
    bottom:0;
    right: 0;
    transform: translateX(-14%);
    padding: 10px;
    margin: 0 20px 20px 0 ;
    background-color: rgba(0,0,0,.4);
    border-radius: 25px;
    cursor: pointer;
    }


}