
body {
    height: 100vh;
    overflow: hidden;;
}

nav {
    background-color: #5e67ff;
    box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.25);
}

.titulo {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 39px;
    color: #FFFFFF;
}


.container-fluid {
    /* background-color:blueviolet; */
    position:absolute;
    top: 114px;
    height: calc(100vh - 114px);
    display: flex;
}

/* FORM */

#formSection {
    width: 400px;
    height: calc(100vh - 114px);
    background-color: #a5c7ff;
}

/* LISTADO */

#listSection {
    width: 80vw;
    height: calc(100vh - 114px);
    /* background-color: red; */
}

/* LISTADO VACIO */

.listado-vacio {
    height: calc(100vh - 114px);
    background-color: #FFF;
    /* display: none; */
}

.vacio-texto p {
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #afb8ae;
}

.vacio-img img {
    margin-top: 50px;
    width: 30%;
    height: 30%;
    opacity: .9;
}

/* LISTADO LLENO */

.listado {
    height: calc(100vh - 114px);
    margin: auto;
    width: fit-content;

    display: flex;
    justify-content: center;
    position: absolute;
    left: 40%;
    /* display: none; */
}

/* LISTADO ITEMS */


.listado ul {
    list-style: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 100%;
    overflow-y: auto;
}

.item {
    height: 75px;
    width: 50%;
    min-width: 400px;
    /* max-width: 400px; */
    margin: auto;
    background-color: #d1d0d0;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.item img {
    width: 50px;
    height: 50px;
}

.item-txt {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color:#fff;
}

.abrir-item {
    width: 26.16px;
    height: 42.16px;
}

.abrir-item::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 7px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 4px;
    transform: rotate(45deg);
    top:-23px;
}

.abrir-item::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 7px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 4px;
    transform: rotate(-45deg);
    top:18px;
}

/* ITEM DESCRIPCION */

.mostrar-item {
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.308);
    position:absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 114px);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    display: none;
}

.item-card {
    position: absolute;
    width: 349px;
    height: 250px;
    top:30%;
    background: rgba(165,199,255,1);
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.5);
    border-radius: 36px;
}


#itemCard div img {
    width: 70px;
    height: 70px;
}

#itemCard div:nth-child(2) {
    width: 100%;
}

#cardTitulo {
    text-transform: uppercase;
    color: #fff;
}

#cardDesc {
    width: 100%;
    color: #fff;
}

#cardDesc p{
    word-break: break-all;
    /* overflow:scroll; */
    overflow-x: hidden;
    margin-bottom: 0;
    margin: auto;
    width: 90%;
    height: 80px;
}    

#closeForm {
    display: none;
}

.close-form-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #C88E8E;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
}

.close-form-btn::after {
    content: '';
    position:absolute;
    width: 24px;
    height: 4px;
    top: 12px;
    right: 2px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.close-form-btn::before {
    content: '';
    position:absolute;
    width: 24px;
    height: 4px;
    top: 12px;
    right: 2px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    border-radius: 2px;
    transform: rotate(45deg);
}


/* BOTON FLOTANTE */
.btn-add {
    background: #24a0ed;
    border-radius: 100%;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 80px;
    height: 80px;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
    display: none;
}

.btn-add img {
    position: relative;
    width: 50px;
    left: 16px;
    top: 14px;
}

.btn-form-add {
    background: #24a0ed;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    width: 141px;
    height: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    color:#FFFFFF;
    cursor: pointer;
}




@media only screen and (max-width: 768px) {

    .vacio-img img {
        margin-top: 50px;
        width: 60%;
        height: 60%;
        opacity: .9;
    }

    #listSection {
        width: 100vw;
    }
    #formSection {
        box-sizing: border-box;
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: calc(100vh - 114px);
        background: rgba(245, 245, 245, 0.5);
        backdrop-filter: blur(2px);
        display: flex;
        justify-content: center;
        z-index: 1;
        display: none;
    }

    #closeForm {
        display: block;
    }

    form {
        position: absolute;
        width: 349px;
        height: 400px;
        top:20%;
        background-color: #a5c7ff;
        box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.5);
        border-radius: 36px;
    }

    .btn-add {
        display: block;
    }

    .close-form-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 30px;
        height: 30px;
        background: #C88E8E;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 25px;
        cursor: pointer;
    }
    
    .close-form-btn::after {
        content: '';
        position:absolute;
        width: 24px;
        height: 4px;
        top: 12px;
        right: 2px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
        border-radius: 2px;
        transform: rotate(-45deg);
    }
    
    .close-form-btn::before {
        content: '';
        position:absolute;
        width: 24px;
        height: 4px;
        top: 12px;
        right: 2px;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
        border-radius: 2px;
        transform: rotate(45deg);
    }
    
    .listado {
        position: inherit;
        margin: auto;
        width: 100%;
    }

    .listado ul {
        padding-bottom: 120px;
    }

    .item {
        height: 75px;
        width: 100%;
        min-width: 0;
        margin: auto;
        background-color: #E7E6E6;
        border-radius: 4px;
        box-shadow: 0.5px 0.5px 3px 0.5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

/* VALIDACION DE CAMPOS */

.invalid {
    border: 2px solid rgb(247, 4, 4);
}

.valid {
    border: 2px solid rgb(36, 199, 3);
}


/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
/* background: #f1f1f1;  */
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}